<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindScreen</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/details.css">
</head>

<body>
    <div id='page'>
        <div id='page__logo-container'>
            <a href='index.html' draggable='false'>
                <img id='page__logo-container__logo' src='../resources/ms_logo_1.png' draggable='false'
                    alt='MindScreen logo'>
            </a>
        </div>

        <div id='page__main-container'>
            <img id='page__main-container__poster'
                src='https://bloximages.chicago2.vip.townnews.com/newsbug.info/content/tncms/assets/v3/editorial/9/8e/98eb7be2-58c7-5a91-83f3-a11d8386b009/609940243eda1.image.jpg'
                alt='Movie poster'>

            <div id='page__main-container__data'>
                <!-- background-image is backdrop_path-->
                <h1 id='page__main-container__data__movie-title'>Movie Name</h1>
                <p id='page__main-container__data__release-date'>Release Date</p>
                <p id='page__main-container__data__synopsis'>Description: Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Asperiores, dolor, fugit ut
                    expedita amet quas doloremque incidunt eius accusamus quaerat sapiente dolorum labore suscipit
                    beatae facere est magni nihil sed!</p>

                <div id='page__main-container__data__credits'>
                    Directed by <span id='page__main-container__data__credits__director'>Director</span>
                    <br>
                    Story by <span id='page__main-container__data__credits__writer'>Writer</span>
                </div>



                <div id='page__main-container__data__cast-data'>
                    <p id='page__main-container__data__cast-data__starring'>Starring...</p>

                    <div id='page__main-container__data__cast-data__actors-container'>
                        <div id='page__main-container__data__cast__actors-container__item'>
                            <img id='page__main-container__data__cast__actors-container__item__photo'>
                            <p id='page__main-container__data__cast__actors-container__item__name'>Actor Name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>