<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindScreen</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/details.css">
    <script src="../modules/details.js"></script>
</head>

<body>
    <div id='page'>
        <div id='page__logo-container'>
            <a href='index.html' draggable='false'>
                <img id='page__logo-container__logo' src='../resources/ms_logo_1.png' draggable='false'
                    alt='MindScreen logo'>
            </a>
        </div>

        <div id='page__main-container'>

        </div>
</body>

</html>