<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel='icon' type='image/x-icon' href='/resources/favicon.ico'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type ="module" src="../modules/index.js"></script>
</head>
<body>
    <section class='page'>
        <div id='page__logo-container'>
            <a href='index.html' draggable='false'>
                <img id='page__logo-container__logo' src='../resources/ms_logo_1.png' draggable='false'
                alt='MindScreen logo'>
            </a>
        </div>
    </section>
    <section>
        <form action="results.html">
            <input type="radio" id="movie" name="">
            <label for="movie">Movie</label>
            <input type="radio" id="series" name="">
            <label for="series">Series</label><br>
            <input type="text" name="" id="searchMovie" placeholder="Search Movie">
        </form>
    </section>
    <section id="page_popular_movies">
    </section>
       <section id='page_popular_series'>
       </section> 
    </section>
</body>
</html>