:root {
    /* Palette */
    --alabaster: #E8EDDF;
    --timberwolf: #CFDBD5;
    --maizeCrayola: #F5CB5C;
    --eerieBlack: #242423;
    --jet: #333533;
    font-family: 'Roboto', sans-serif;
}

#page__main-container {
    display: flex;    
    padding: 1em;
}

#page__main-container__poster {
    z-index: 1;
    align-self: center;    
    border-radius: 2em;
    margin: 0 1em 0 1em;    
    max-width: 23vw;        
}

#page__main-container__data {    
    z-index: 1; /* TODO -> Deleting this makes text unselectable */    
    border-radius: 2em;
    padding: 2em;    
}

#page__main-container__backdrop {        
    position: absolute;    
    object-fit: cover;     
    border-radius: 2em;    
    opacity: 10%;       
    width: 94%;  
    height: 75vh; 
}

#page__main-container__data__movie-title {
    color: var(--maizeCrayola);
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;    
}

#page__main-container__data__release-year {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

#page__main-container__data__release-date {
        
}

#page__main-container__data__synopsis {
    font-style: italic;    
}

#page__main-container__data__credits {
    margin: 1em 0;
}

#page__main-container__data__credits__director {
    font-weight: bold;
}

#page__main-container__data__credits__writer {
    font-weight: bold;
}

#page__main-container__data__cast-data {

}

#page__main-container__data__cast-data__starring {

}

#page__main-container__data__cast-data__actors-container {
    display: flex;
}

.page__main-container__data__cast__actors-container__item {
    margin: 1em 2em;
    text-align: center;
    padding: 0;
}

.page__main-container__data__cast__actors-container__item__photo {    
    border-radius: 1em;
    max-width: 8vw;
}

.page__main-container__data__cast__actors-container__item__name {
    font-weight: bold;
    margin: .5em;
}

.page__main-container__data__cast__actors-container__item__character {
    font-size: .75em;
    margin: 0;
}