:root {
    /* Palette */
    --alabaster: #E8EDDF;
    --timberwolf: #CFDBD5;
    --maizeCrayola: #F5CB5C;
    --eerieBlack: #242423;
    --jet: #333533;
    font-family: 'Roboto', sans-serif;
}

#page__main-container {
    display: flex;
    position: relative;
    padding: 1em;
    height: auto;
}

#page__main-container__poster {
    z-index: 1;
    align-self: center;
    border-radius: 2em;
    margin: 0 1em 0 1em;
    max-width: 23vw;
}

#page__main-container__data {
    z-index: 1; /* deleting this makes text unselectable */
    border-radius: 2em;
    padding: 2em;
}

#page__main-container__backdrop {        
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;     
    border-radius: 2em;
    opacity: .25;
    width: 100%;    
    height: 100%;
}

#page__main-container__data__movie-title {
    color: var(--maizeCrayola);
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

#page__main-container__data__release-year {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

#page__main-container__data__categories {
    font-size: .85em;
    margin: .5em 0;
}

#page__main-container__data__categories__genres {

}

#page__main-container__data__categories__amount__seasons {
    font-weight: bold;
}

#page__main-container__data__categories__amount__episodes {
    font-weight: bold;
}

#page__main-container__data__categories__trailer {
    color: var(--timberwolf);
    transition: 250ms;
    background-color: var(--jet);
    border: .1em solid var(--jet);
    border-radius: 1em;
    padding: .5em;
    text-decoration: none;
}

#page__main-container__data__categories__trailer:hover {
    color: var(--maizeCrayola);
    border: .1em solid var(--maizeCrayola);
    box-shadow: 0 0 .2em var(--maizeCrayola);
}

#page__main-container__data__release-date {
    margin: 0;
}

#page__main-container__data__synopsis {
    font-style: italic;
}

#page__main-container__data__credits {
    margin: 1em 0;
}

#page__main-container__data__credits__role-by {

}

#page__main-container__data__credits__director {
    font-weight: bold;
}

#page__main-container__data__credits__writer {
    font-weight: bold;
}

#page__main-container__data__cast-data {

}

#page__main-container__data__cast-data__starring {

}

#page__main-container__data__cast-data__actors-container {
    cursor: pointer;
    max-width: 65vw;
}

.page__main-container__data__cast__actors-container__item {
    margin: 0 1.5em 1em;
    padding: 0;
    text-align: center;
}

.page__main-container__data__cast__actors-container__item__photo {
    border-radius: 1em;
    max-width: 7vw;
    padding: 0;
    margin: 0 auto;
}

.page__main-container__data__cast__actors-container__item__name {
    font-weight: bold;
    font-size: .9em;
    margin: .5em 0;
}

.page__main-container__data__cast__actors-container__item__character {
    font-style: italic;
    font-size: .75em;
    margin: .5em 0;
}

/* fixes carousel when items in container below minimum displayed items (5) */
.slick-list {
    width: 100%;
}

/* MEDIA QUERIES */
/* small screen */
@media (max-width: 767px) and (orientation: portrait) {
    #page__main-container {            
        text-align: center;    
        font-size: .75em;
    }

    #page__main-container__poster {
        display: none;
    }
}

@media (max-width: 764px) and (orientation: landscape) {
    #page__main-container {            
        text-align: center;    
        font-size: .75em;
    }

    #page__main-container__poster {
        display: none;
    }       
}

/* medium screen */
@media (max-width: 1279px) and (min-width: 768px) and (orientation: landscape) {
    #page__main-container {
        font-size: .75em;
    }
}