:root {
    /* Palette */
    --alabaster: #E8EDDF;
    --timberwolf: #CFDBD5;
    --maizeCrayola: #F5CB5C;
    --eerieBlack: #242423;
    --jet: #333533;
}

#page__main-container {
    display: flex;
    padding: 1em;
}

#page__main-container__poster {
    z-index: 1;
    align-self: center;    
    border-radius: 2em;
    margin: 0 1em 0 0;    
    max-width: 25vw;        
}

#page__main-container__data {    
    z-index: 1; /* TODO -> Deleting this makes text unselectable */    
    border-radius: 2em;
    padding: 2em;    
}

#page__main-container__backdrop {        
    position: absolute;
    object-fit: cover;
    border-radius: 2em;
    opacity: 10%;
    max-width: 94vw;
    min-width: 94vw;
    max-height: 75vh;
    min-height: 75vh;
}

#page__main-container__data__movie-title {
    color: var(--maizeCrayola);
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;    
}

#page__main-container__data__release-date {
    font-size: 2em;
    margin: 0;  
}

#page__main-container__data__synopsis {
    font-style: italic;
}

#page__main-container__data__credits {

}

#page__main-container__data__credits__director {

}

#page__main-container__data__credits__writer {

}

#page__main-container__data__cast-data {

}

#page__main-container__data__cast-data__starring {

}

#page__main-container__data__cast-data__actors-container {

}

#page__main-container__data__cast__actors-container__item {

}

#page__main-container__data__cast__actors-container__item__photo {
    border-radius: 1em;
    width: 10%;
}

#page__main-container__data__cast__actors-container__item__name {
    
}

#page__main-container__data__cast__actors-container__item__character {

}