:root {
    /* Palette */
    --alabaster: #E8EDDF;
    --timberwolf: #CFDBD5;
    --maizeCrayola: #F5CB5C;
    --eerieBlack: #242423;
    --jet: #333533;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #333533;
}

.page {
    animation: glow 10000ms linear infinite alternate;
}

@keyframes glow {
    0% {filter: brightness(100%);}
    25% {filter: brightness(110%);}
    50% {filter: brightness(105%);}
    75% {filter: brightness(200%);}
    100% {filter: brightness(200%);}
}

/* .page {
    background-image: url(../../resources/blurry-logo.svg);
    animation: glow 5000ms linear infinite alternate;
}

@keyframes glow {
    0% {filter: brightness(100%) blur(5);}
    25% {filter: brightness(110%) blur(0);}
    50% {filter: brightness(105%) blur(.1em);}
    75% {filter: brightness(100%) blur(0);}
    100% {filter: brightness(200%) blur(0);}
} */

#page__logo-container__logo {
    position: sticky;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 40%;
}

#searchForm {
    display: flex;
    justify-content: center;
}

#searchMovie {
    display: block;
    padding: 2px;
    margin-top: 10%;
    margin-left: 0.3em;
    background-color: var(--eerieBlack);
    width: 40%;
    border: 3px solid var(--eerieBlack);
    color: var(--alabaster);
    border-radius: 0 2em 2em 0;
    transition: 500ms;

}

#mediaType {
    display: block;
    padding: 2px;
    margin-top: 10%;
    background-color: var(--eerieBlack);
    width: 6%;
    border: 3px solid var(--eerieBlack);
    color: #ffffff54;
    border-radius: 2em 0 0 2em;
    transition: 500ms;

}

#searchMovie:focus {
    border: 3px solid var(--maizeCrayola);
    outline: none;
}

#mediaType:focus {
    border: 3px solid var(--maizeCrayola);
    outline: none;
}

#page_popular_movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    padding: 20px;
    border-radius: 1em;
    background-color: var(--eerieBlack);
}

#page_popular_tv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    padding: 20px;
    border-radius: 1em;
    background-color: var(--eerieBlack);
}

.poster__wrap__movies {
    position: relative;
    text-align: center;
}

.poster__wrap__tv {
    position: relative;
    text-align: center;
}

.movie-poster_result {
    margin: 2em;
    border: thick solid var(--eerieBlack);
	border-radius: 10%;
	max-width: 75%;
	height: 200px;
}

.tv-poster_result {
    margin: 2em;
    border: thick solid var(--eerieBlack);
	border-radius: 10%;
	max-width: 75%;
	height: 200px;
}

.poster__wrap__tv {
    position: relative;
    text-align: center;
}

.poster__description_layer {
    position: absolute;
    display: grid;
	left: 10%;
	right: 10%;
    top: 0;
    bottom: 0;
	align-items: center;
	align-content: center;
	justify-content: center;
	visibility: hidden;
}

.poster__description {
    display: flex;
	justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    color: var(--alabaster);
}


.poster__wrap__movies:hover .poster__description_layer {
	visibility: visible;
}

.poster__wrap__movies:hover .movie-poster_result {
	filter: blur(2.5px);
	border: thick solid var(--alabaster);
	filter: brightness(50%);
}

.poster__wrap__tv:hover .poster__description_layer {
	visibility: visible;
}

.poster__wrap__tv:hover .tv-poster_result {
	filter: blur(2.5px);
	border: thick solid var(--alabaster);
	filter: brightness(50%);
}

