.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

#page__main-container {
  height: auto;
}

#grid-container {
  margin: 2.5%;
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  column-gap: 2.5%;
  row-gap: 2%;
}

.poster__wrap {
  text-align: center;
  position: relative;
}

.movie-poster_result {
  border-radius: 10%;
  border: thick solid var(--alabaster);
  max-width: 90%;
  height: auto;
  align-content: center;
}

/* .poster__description_layer {
  border-radius: 10%;
  max-width: 75%;
  height: auto;
  visibility: hidden;
  align-content: center;
} */

/* .poster__description {
  margin-inline: 12.5%;
  text-align: center;
} */
